.app {
  background-color: yellow;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%*/

.textarea1{
	display: block;
	width: 196px;
	height: 196px;
	position: absolute;
	top: 302px;
	left: 110px;
	border: 1px solid darkblue;
}

.textarea0{
	display: block;
	margin-bottom: 10px;
	width: 196px;
	height: 16px;
	top: 200px;
	left: 10px;
	border: 1px solid darkblue;
}

/*SOME CSS MODULES EXP*/

.productGallery{
	height: 220px;
	margin-right: 6px;
	border: 2px solid pink;
}



.box{
 	height: 200px;
 	width: 600px; background-color: red;
 	transition:opacity 1200ms ease-in;
 }
.boxActive{
	composes:box;
	width: 100px;
	background-color: blue;
}



